* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 24px;
  padding: 20px;
  background-color: #c1b8db;
  color: #333333;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #CCCCCC;
}

#carrinho {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-carrinho {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 20px;
  width: 48%;
  display: flex;
}

.capa {
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://m.media-amazon.com/images/I/416E0ngf0xL._SX341_BO1,204,203,200_.jpg");
}

.info-produto {
  flex: 1;
  padding: 20px;
}

/* Ajustes no campo de quantidade */
input#quantidade-produto-01 {
  width: 30px;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
}

/* Estilo para a descrição do produto */
.descricao {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

/* Estilo para os campos comuns */
.campos-comuns {
  font-size: 16px;
  margin: 0;
}

/* Ajustes para os campos Quantidade, R$ 113.30, CEP, Valor: R$ 0 e R$ 0 */
#subtotal, #frete, #total {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  background-color: #F5F5F5;
  border-top: 1px solid #CCCCCC;
}

#subtotal p, #frete p, #total p {
  margin: 0;
}

/* Ajustes para os campos Quantidade, R$ 113.30, CEP, Valor: R$ 0 e R$ 0 */
.campos-comuns span {
  font-weight: bold;
}

/* Adiciona espaçamento à direita para os elementos R$ e Finalizar compra */
#valor-total, #btn-finalizar-compra {
  margin-right: 20px;
}

.finalizar-compra {
  margin-top: 20px; /* Adiciona margem ao topo */
  margin-right: 20px; /* Adiciona espaçamento à direita */
  padding: 10px; /* Adiciona espaçamento interno */
  background-color: #c1b8db; /* Adiciona a cor do topo da página */
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mensagem-finalizada {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c1b8db;
  color: #333333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
